{% extends 'base.html.twig' %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_link_tags('courseForm') }}
{% endblock %}

{% block title %}Редактирование курса{% endblock %}

{% block body %}
    <h1>Редактировать курс</h1>

    {% form_theme form with [
        'form/row_dateinterval_widget.html.twig'
    ] %}

    {{ form_start(form, {'attr': {'id': 'course_form'}}) }}

    {{ form_row(form.code, {'attr': {'readonly':'readonly'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.type) }}

    <div class="mb-3 animated">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
    </div>

    <div class="mb-3 animated hidden">
        {{ form_label(form.duration) }}
        {{ form_widget(form.duration) }}
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>

    {{ form_end(form) }}
    <hr>
    <a class="btn btn-outline-secondary" href="{{ path('course_index') }}">К списку курсов</a>
    {{ include('course/_delete_form.html.twig') }}

{% endblock %}
