{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}

    <h1>Курсы</h1>
    <div id="courses">
        {% for course in courses %}
            <div>
                <a href="{{ path('course_show', {'id': course.id}) }}">{{ course.name }}</a>
                <div>{{ course.description }}</div>
                {% if my_courses[course.code] is defined %}
                    <div>Приобретено
                        {% if my_courses[course.code].type == 2 %}
                             до {{ my_courses[course.code].expiration|date("d.m.Y") }}
                        {% endif %}
                    </div>
                {% else %}
                    <div >Стоимость: {{ course_info[course.code].cost }} руб.</div>
                    <div class="row">
                        <a class="col" href="{{ path('course_buy', {'id': course.id}) }}">Купить</a>
                        {% if course_info[course.code].type == 2 %}
                            <div class="col text-end">доступ к курсу будет предоставлен на {{ date_russian_format(course_info[course.code].duration) }}</div>
                        {% endif %}
                    </div>

                {% endif %}
                <hr>
            </div>
        {% endfor %}
    </div>
    {% if courses|length == 0 %}
        <div>Курсов не найдено</div>
    {% endif %}
    <br>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a id="create_course" class="btn btn-primary" href="{{ path('course_new') }}">Создать новый</a>
    {% endif %}
{% endblock %}
