{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Курс "{{ course.name }}"</h1>
    <div>
        {{ course.description }}
    </div>
    <br>

    <div id="lessons">
        {% for lesson in lessons %}
            <div><a href="{{ path('lesson_show', {'id': lesson.id}) }}">{{ loop.index }}. {{ lesson.title }}</a></div>
        {% endfor %}
    </div>
    <br>
    <a class="btn btn-outline-secondary" href="{{ path('course_index') }}">Назад</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-outline-success" id="create_lesson" href="{{ path('lesson_new', {'course': course.id}) }}">Добавить урок</a>
        <a class="btn btn-outline-danger" href="{{ path('course_edit', {'id': course.id}) }}">Редактировать этот курс</a>
        {{ include('course/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
