{% extends 'base.html.twig' %}

{% block title %}{{ lesson.title }} / {{ lesson.course.name }} / StudyOn{% endblock %}

{% block body %}
    <h1>Урок "{{ lesson.title }}"</h1>
    <a href="{{ path('course_show', {'id': lesson.course.id}) }}">Курс "{{lesson.course.name}}"</a>
    <hr>
    <div>
        {{ lesson.content }}
    </div>

    <a href="{{ path('course_show', {'id': lesson.course.id}) }}">Назад к курсу</a>

    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">Редактировать урок</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
